# yaml-language-server: $schema=https://unpkg.com/@powersync/service-sync-rules@0.0.0-dev-20241022111143/schema/sync_rules.json
#
# See Documentation for more information:
# https://docs.powersync.com/usage/sync-rules
#
# Note that changes to this file are not watched.
# The service needs to be restarted for changes to take effect.

# https://docs.powersync.com/usage/sync-rules/guide-many-to-many-and-join-tables
# https://docs.powersync.com/usage/use-case-examples/custom-types-arrays-and-json

bucket_definitions:
  #troop:
  #  parameters:
  #    - SELECT request.jwt() ->> 'troop_id' as troop_id
  #  data:
  #    - SELECT * FROM "public"."troop" WHERE id = bucket.troop_id
  #admin:
  #  parameters:
  #     - SELECT is_admin FROM "public"."users_profile" WHERE id = request.user_id()
  #  data:
  #    #- SELECT * FROM "inventory_archive"."plot" WHERE TRUE = bucket.is_admin
  #    - SELECT * FROM "public"."records" WHERE TRUE = bucket.is_admin

  user_organizations:
    parameters:
      # This query returns multiple rows if user has multiple organizations
      - SELECT organization_id FROM "public"."users_permissions" WHERE user_id = request.user_id()
    data:
      # Each bucket gets data for its specific organization_id
      - SELECT * FROM "public"."organizations" WHERE id = bucket.organization_id OR parent_organization_id = bucket.organization_id
      - SELECT * FROM "public"."organizations_lose" WHERE organization_id = bucket.organization_id
      # - SELECT * FROM "public"."records" WHERE
      #     responsible_administration = bucket.organization_id OR
      #     responsible_state = bucket.organization_id OR
      #     responsible_provider = bucket.organization_id
      - SELECT * FROM "public"."troop" WHERE organization_id = bucket.organization_id

  troop_records:
    parameters:
      - SELECT troop_id FROM "public"."troop_members" WHERE user_id = request.user_id()
    data:
      - SELECT * FROM "public"."records" WHERE responsible_troop = bucket.troop_id

  #organizations:
  #  parameters:
  #    - SELECT organization_id FROM "public"."users_profile" WHERE id = request.user_id()
  #  data:
  #    - SELECT * FROM "public"."organizations" WHERE id = bucket.organization_id OR parent_organization_id = bucket.organization_id
  #    - SELECT * FROM "public"."organizations_lose" WHERE organization_id = bucket.organization_id
  #    - SELECT * FROM "public"."users_profile" WHERE id = bucket.organization_id
  #    - SELECT * FROM "public"."records" WHERE responsible_administration = bucket.organization_id OR responsible_state = bucket.organization_id OR responsible_provider = bucket.organization_id

  permissions:
    parameters:
      - SELECT request.user_id() as user_id
    data:
      - SELECT * FROM "public"."users_permissions" WHERE user_id = bucket.user_id

  global:
    data:
      - SELECT * FROM "public"."schemas"
      - SELECT * FROM "public"."organizations"
      - SELECT * FROM "public"."users_profile"
      - SELECT * FROM "public"."troop"
      # - SELECT * FROM "inventory_archive"."cluster"

      # Lookup Tables
      - SELECT * FROM "lookup"."lookup_accessibility"
      - SELECT * FROM "lookup"."lookup_basal_area_factor"
      - SELECT * FROM "lookup"."lookup_biogeographische_region"
      - SELECT * FROM "lookup"."lookup_biosphaere"
      - SELECT * FROM "lookup"."lookup_biotope"
      - SELECT * FROM "lookup"."lookup_browsing"
      - SELECT * FROM "lookup"."lookup_cluster_situation"
      - SELECT * FROM "lookup"."lookup_cluster_status"
      - SELECT * FROM "lookup"."lookup_damage_peel"
      - SELECT * FROM "lookup"."lookup_dead_wood_type"
      - SELECT * FROM "lookup"."lookup_decomposition"
      - SELECT * FROM "lookup"."lookup_edge_status"
      - SELECT * FROM "lookup"."lookup_edge_type"
      - SELECT * FROM "lookup"."lookup_edge_type_deprecated"
      - SELECT * FROM "lookup"."lookup_elevation_level"
      - SELECT * FROM "lookup"."lookup_exploration_instruction"
      - SELECT * FROM "lookup"."lookup_ffh"
      - SELECT * FROM "lookup"."lookup_ffh_forest_type"
      - SELECT * FROM "lookup"."lookup_forest_community"
      - SELECT * FROM "lookup"."lookup_forest_office"
      - SELECT * FROM "lookup"."lookup_forest_status"
      - SELECT * FROM "lookup"."lookup_forestry_office"
      - SELECT * FROM "lookup"."lookup_gemeinde"
      - SELECT * FROM "lookup"."lookup_gnss_quality"
      - SELECT * FROM "lookup"."lookup_grid_density"
      - SELECT * FROM "lookup"."lookup_growth_district"
      - SELECT * FROM "lookup"."lookup_harvest_condition"
      - SELECT * FROM "lookup"."lookup_harvest_method"
      - SELECT * FROM "lookup"."lookup_harvest_reason"
      - SELECT * FROM "lookup"."lookup_harvest_restriction"
      - SELECT * FROM "lookup"."lookup_id_stand_differences_rows"
      - SELECT * FROM "lookup"."lookup_interval"
      - SELECT * FROM "lookup"."lookup_land_use"
      - SELECT * FROM "lookup"."lookup_layer"
      - SELECT * FROM "lookup"."lookup_management_type"
      - SELECT * FROM "lookup"."lookup_marker_profile"
      - SELECT * FROM "lookup"."lookup_marker_status"
      - SELECT * FROM "lookup"."lookup_national_park"
      - SELECT * FROM "lookup"."lookup_natur_park"
      - SELECT * FROM "lookup"."lookup_natur_schutzgebiet"
      - SELECT * FROM "lookup"."lookup_property_size_class"
      - SELECT * FROM "lookup"."lookup_property_type"
      - SELECT * FROM "lookup"."lookup_pruning"
      - SELECT * FROM "lookup"."lookup_sampling_stratum"
      - SELECT * FROM "lookup"."lookup_stand_development_phase"
      - SELECT * FROM "lookup"."lookup_stand_layer"
      - SELECT * FROM "lookup"."lookup_stand_structure"
      - SELECT * FROM "lookup"."lookup_state"
      - SELECT * FROM "lookup"."lookup_stem_breakage"
      - SELECT * FROM "lookup"."lookup_stem_form"
      - SELECT * FROM "lookup"."lookup_template"
      - SELECT * FROM "lookup"."lookup_terrain"
      - SELECT * FROM "lookup"."lookup_terrain_form"
      - SELECT * FROM "lookup"."lookup_tree_size_class"
      - SELECT * FROM "lookup"."lookup_tree_species"
      - SELECT * FROM "lookup"."lookup_tree_species_group"
      - SELECT * FROM "lookup"."lookup_tree_status"
      - SELECT * FROM "lookup"."lookup_trees_less_4meter_layer"
      - SELECT * FROM "lookup"."lookup_trees_less_4meter_mirrored"
      - SELECT * FROM "lookup"."lookup_trees_less_4meter_origin"
      - SELECT * FROM "lookup"."lookup_vogel_schutzgebiet"
