<html>
  <body>
    <p>Hallo,</p>
    <p>
        Sie haben ihr passwort vergessen?<br/>
    </p>
    <p>
        Klicken Sie auf den folgenden Link um ein neues Passwort zu erstellen.<br/>
    </p>
    <p>
        <a href="{{ .ConfirmationURL }}TFM-Documentation/authentication/confirm">
            <button style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
                Passwort zurücksetzen
            </button>
        </a>
    </p>

    <p>
        Nachdem Sie Ihr Passwort vergeben haben, können Sie sich damit anmelden.<br/>
        Bei Fragen oder Problemen, antworten Sie auf diese E-Mail.
    </p>


    <p>
        Vielen Dank,<br/>
        Support Team
    </p>
    <div style="color:gray;">
        <p>
            <small>
                Thünen-Institut, Institut für Waldökosysteme<br/>
                Alfred-Möllerstr.1 <br/>
                Haus 41/42 <br/>
                16225 Eberswalde 
            </small>
        </p>
        <p>
            <small>
                <a href="https://www.thuenen.de/de/impressum">Impressum</a> |
                <a href="https://www.thuenen.de/de/datenschutzerklaerung">Datenschutz</a>
            </small>
        </p>
    </div>
    <p>
        <small>
            Wenn Sie diese E-Mail nicht angefordert haben, können Sie sie ignorieren.
        </small><br/>
        <small>
            Diese E-Mail wurde automatisch generiert.
        </small>
    </p>
  </body>
</html>